* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

.container_ {
  width: 95%;
  margin: auto;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

header {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
header .navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center !important;
}
header .navbar .logo img {
  width: 141px;
}
header .navbar .menu {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}
header .navbar .menu ul {
  display: flex;
  justify-content: space-between;
}
header .navbar .menu ul .first_h_li {
  position: relative;
  transition: 0.4s;
}
header .navbar .menu ul .first_h_li a {
  transition: 0.4s;
}
header .navbar .menu ul .first_h_li a:hover .first_h_ul {
  display: block;
}
header .navbar .menu ul .first_h_li .first_h_ul {
  transition: 250ms all;
  background-color: white;
  margin-top: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-top: none;
  width: 250px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 29px;
  margin-left: 10px;
  position: absolute;
  left: 0;
  top: 20px;
  display: none;
}
header .navbar .menu ul .first_h_li .first_h_ul #shopdropdown {
  position: relative;
}
header .navbar .menu ul .first_h_li .first_h_ul #shopdropdown .fhus_ul {
  display: none;
  transition: 250ms all;
  background-color: white;
  margin-top: 10px;
  width: 250px;
  margin-top: 29px;
  margin-left: 10px;
  position: absolute;
  left: 0;
  top: 1px;
  margin-top: -0.5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .navbar .menu ul .first_h_li .first_h_ul #shopdropdown:hover .fhus_ul {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}
header .navbar .menu ul .first_h_li .first_h_ul li {
  padding: 10px 0 20px 0;
}
header .navbar .menu ul .first_h_li .first_h_ul li a {
  color: #878787;
  font-weight: 500;
  font-size: 16px;
  transition: 0.4s;
}
header .navbar .menu ul .first_h_li .first_h_ul li a:hover {
  color: #3858F6;
}
header .navbar .menu ul #mega_menu .first_h_ul {
  display: none;
  transition: 250ms all;
  background-color: white;
  margin-left: 10px;
  position: absolute;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_left {
  width: 30%;
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_left ul {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_left ul li a {
  color: #878787;
  font-weight: 500;
  font-size: 16px;
  transition: 0.4s;
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_left ul li a:hover {
  color: #3858F6;
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_left .straight_hr {
  height: 1px;
  color: #818181;
  width: 300px;
  transform: rotate(90deg);
  position: absolute;
  left: 150px;
  bottom: 133px;
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_right {
  width: 65%;
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_right .fhur_boxes {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_right .fhur_boxes .fhur_box {
  width: 24%;
  display: inline-block;
  margin: 0 10px;
  margin-top: 30px;
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_right .fhur_boxes .fhur_box .fhurb_img {
  overflow: hidden;
  border-radius: 10px;
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_right .fhur_boxes .fhur_box .fhurb_img a img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_right .fhur_boxes .fhur_box .fhurb_img a img:hover {
  transform: scale(110%);
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_right .fhur_boxes .fhur_box a {
  font-size: 14px;
  font-weight: 500;
  color: #d93e40;
  padding: 30px 0;
  transition: 0.4s;
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_right .fhur_boxes .fhur_box a:hover {
  color: #3858F6;
}
header .navbar .menu ul #mega_menu .first_h_ul .fhu_right .fhur_boxes .fhur_box a h4 {
  font-size: 18px;
  font-weight: 800;
  color: black;
  padding-top: 10px;
}
header .navbar .menu ul #mega_menu:hover .first_h_ul {
  display: flex;
  position: absolute;
  top: 0;
  left: 1px;
  margin-top: 80px;
  width: 1200px !important;
  height: 300px;
}
header .navbar .menu ul .first_h_li:hover .first_h_ul {
  display: block;
}
header .navbar .menu ul li {
  height: 50px;
}
header .navbar .menu ul li .hover-underline-animation {
  display: block;
  padding: 0 13px;
  line-height: 20px;
  color: #878787 !important;
  font-weight: 500;
  font-size: 16px;
  transition: 0.4s;
}
header .navbar .menu ul li .hover-underline-animation:hover {
  color: #3858F6 !important;
}
header .navbar .menu ul .first_h_li_shop .hover-underline-animation .first_h_ul_shop li a {
  color: green;
}
header .navbar .menu ul .hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #3858F6;
}
header .navbar .menu ul .hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 65%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 12px;
  top: 45px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #8D8D8D;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
  background-color: #3858F6;
}
header .navbar .menu ul .hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header .navbar .search form {
  display: inline;
  background-color: #F0F2F5;
  border: 1px solid #F0F2F5;
  padding: 7px 17px;
  border-radius: 20px;
  margin: 0 7px;
  transition: 0.5s;
}
header .navbar .search form:hover {
  border-color: #3858F6;
}
header .navbar .search form i {
  color: #878787;
  cursor: pointer;
  padding-right: 10px;
}
header .navbar .search form input {
  border: none;
  background-color: #F0F2F5;
  outline: none;
  font-size: 14px;
  color: #878787;
}
header .navbar .search a {
  color: #878787;
  border-radius: 50%;
  background-color: #F0F2F5;
  padding: 8px 10px;
  position: relative;
  transition: 0.4s;
}
header .navbar .search a:hover {
  background-color: #3858F6;
  color: white;
}
header .navbar .search a i {
  padding: 16px 2px;
}
header .navbar .search sup {
  background-color: #3858F6;
  color: white;
  border-radius: 50%;
  padding: 10px 6px;
  position: absolute;
  top: 20%;
  right: 0.01%;
}

.dropdown-content a {
  display: block;
  padding-left: 15px !important;
  text-decoration: none;
  color: #818181;
  padding: 5px;
  z-index: 100;
}

.dropdown-content {
  width: 190px;
  display: none;
}
.dropdown-content ul li a i {
  color: #1B1B1B;
}

.dropdown {
  position: relative;
  transition: 1s;
}
.dropdown:hover .dropdown-content {
  background-color: red;
  left: 30px;
  margin-left: 20px;
  padding-top: 50px;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}/*# sourceMappingURL=style.css.map */